.container {
    width: 900px;
    margin: 0 auto;
  }

* {
    background-color: #232425;
}

/*NAVIGATION BAR*/

.nav {
    overflow: hidden;
    background-color: #242424; 
}

.nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.nav input[type=text] {
    float: center;
    padding: 6px;
    background-color: #282828;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #606060;
    border-radius: 4px;
    border: 1px transparent;
    width: 500px;
}

#user-photo{
    float:right;
    padding-left: 5px;
}

#user-photo img{
    border-radius: 50%;
}

#settings{
    float:right;
    padding-left: 5px;;
}

#upload{
    float:right;
    text-decoration: none;
    color:#606060;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 80%;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right:50px;
    margin-top: 10px;
    border:2px solid #606060;
    border-width: fit-content;
    border-radius: 15px 15px 15px 15px;
    
    
}

#logo{
    text-decoration: none;
    color: white;
    font-family: "font73252";
    font-size: 22px;
    padding-right:5px;
    padding-left:1px;
}

#notification{
    padding-left: 10px;
    padding-right: 35px;
    
}


/*left bar*/

/*VIDEO INFO*/

.channel-info{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 4%;
}

.channel-info-left-items a{
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
}

.channel-info-right{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.channel-info-left{
    display: flex;
    width: 60%;
    
}

#vid-title{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #fafafa;
    
}


#channel-logo img{
    border-radius: 50%;
    margin-top: -20%;
}

#channel-name{
    text-decoration: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #535354;
    font-size: 90%;
}

#subscribe{
    text-decoration: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 70%;
    font-weight: bold;
    color: #535354;
    border:2px solid #535354;
    border-width: fit-content;
    border-radius: 15px 15px 15px 15px;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 6%;
    padding-right: 6%;
    margin-top: -5%;
}

#subscribers{
    text-decoration: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 70%;
    font-weight: bold;
    color: #535354;

}

#video-count{
    text-decoration: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 70%;
    font-weight: bold;
    color: #535354;
    border-spacing: 2px;
}


.options{
    justify-content: space-evenly;
    border-bottom: 1px solid #59595A;
    height: 3%;
    width: 95%;


}

.option-buttons{
    text-decoration: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 70%;
    font-weight: bold;
    color: #535354;
    padding-right: 3%;
    
}

.video-description p{
    font-family: sans-serif;
    font-size: 75%;
    color: #fafafa;
    width: 95%;
    line-height: 150%;
}

#show-more-button{
    text-decoration: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #535354;
    font-size: 90%;
}

#published-date{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #535354;
    font-size: 75%;
}

/*COMMENTS*/

#Comments-head{
    display: flex;
    justify-content: space-between;
    height: 4%;
    
}

.comments-info{
    display: flex;
    justify-content: space-between;
    width: 23%;
    
    
}

#Comments-title{
    display:flex;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fafafa;
}

#comments-num{
    display: flex;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #535354;
    padding-top: 5px;

}


/*USER COMMENT BAR*/

.user-comment-section{
    display: flex;
    width: 95%;
    height: 5%;
    
}

.comment-bar [type=text]{
    background-color: #303032;
    font-size: 80%;
    font-family: sans-serif;
    color: #606060;
    border-radius: 4px;
    border: 1px transparent;
    padding-right: 30%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 250%;
}

.comment-photo img{
    border-radius: 50%;
}

/*COMMENTS*/

.comment{
    display: flex;
    height: 75px;
}


.comment-photo{
    display: flex;
    width:8%;
}

.user-and-comment{
    width:90%;
    line-height: 120%;
    
}

.user-comment{
    font-family: sans-serif;
    font-size: 79%;
    color: #fafafa;
    line-height: 130%;
    width: 90%;
}

.username{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 84%;
    color: #676767;
    line-height: 130%;
}

.show-more{
    width: 95%;
    text-decoration: none;
    background-color: #2E2E30;
    font-size: 70%;
    text-align: center;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    
}

.show-more a{
    text-decoration: none;
    font-family: sans-serif;
    background-color: #2E2E30;
    font-weight: bold;
    color: #5B5B5C;
}

/*SEPARATING LEFT & RIGHT*/
.left-column{
    width: 65%;
}

.main-column{
    display: flex;
    width:97%;
}

/*RIGHT SIDE*/

.aside{
    width: 35%;
    justify-content: center;
    
}

.likebar{
    background-color: #25496F;
    height: 3px;
    width: 100%;
    
}

.like-buttons{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 23px;
    padding-top: 5%;
    
    
}

.like{
    width: 49.5%;
    background-color: #161617;
    text-align: center;
    padding-top: 1.2%;
   
    
}

.like a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    background-color: #161617;
    font-weight: bold;
    color: #5B5B5C;
}

.dislike{
    width: 49.5%;
    background-color: #161617;
    text-align: center;
    padding-top: 1.2%;
    
}

.dislike a {
    text-decoration: none;
    font-family: sans-serif;
    background-color: #161617;
    font-size: 13px;
    font-weight: bold;
    color: #5B5B5C;
}

.views{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 25px;
    height: 22px;
    text-align: center;

    
}

.views-section{
    width: 95%;
    
}


/*THUMBNAILS*/

.up-next{
    display: flex;
    padding-top:11%;
    justify-content: space-between;
}

.thumbnail{
    width:40%;
}

.thumb-info{
    width:57%;
}

.thumb-name a{
    text-decoration: none;
    color: #B6B6B6;
    font-family: sans-serif;
    font-size: 80%;
}

.thumb-artist{
    text-decoration: none;
    color: #5A5A5A;
    font-family: sans-serif;
    font-size: 75%;
    padding-top: 1.5%;
}

.thumb-views{
    text-decoration: none;
    color: #5A5A5A;
    font-family: sans-serif;
    font-size: 75%;
    padding-top: 1.5%;
}



